@{
    ViewData["Title"] = "Home Page";
}

<!-- SECTION IMAGE FULLSCREEN -->
<section class="fullscreen background-image" style="background-image:url('/images/homepages/holidays/1.jpg');">
    <div id="particles-dots" class="particles"></div>
    <div class="container-fluid">

        <div class="container-fullscreen">
            <div class="text-middle text-center text-white">
                <i class="fa fa-bullseye"></i>
                <h3 class="m-b-0 ">Size Uygun En İyi Hediyeyi Bulalım</h3>
                <h2 class="text-lg m-t-0 ">Hediye Öneri Sistemi</h2>
                <p class="lead">Amacımız size en uygun hediyeyi bularak işinizi kolaylaştırmak</p>
                <a class="btn btn-dark" asp-controller="Home" asp-action="HediyeOner">Hadi Başlayalım!!!</a>
            </div>


        </div>
    </div>
</section>





<!-- end: SECTION IMAGE FULLSCREEN -->
